/* Kartlar, modallar, ikonlar vs. özel bileşenler */

ul {
  display: flex;
}
li {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}
a:hover {
  opacity: 80%;
}

i {
  cursor: pointer;
  font-size: var(--font-large);
  margin: var(--spacing-xs);
}
i:hover {
  opacity: 50%;
}

.padding-bottom {
  width: 100%;
  padding-bottom: 10px;
}
.margin-bottom {
  width: 100%;
  margin-bottom: 50px;
}
